@model ProductCommentViewModel
@{Model.UserName = User.Identity.Name;}
<dl class="dl-horizontal">
    @if (User.Identity.IsAuthenticated)
    {
        <dt>
        Ürünü Değerlendirin
        </dt>
    <dd>
        <div class="commentBox">
            @using (Html.BeginForm("Details","Shop", FormMethod.Post , new{ onsubmit = "return SubmitComment()"}))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Puanlamanız <span style="font-weight:normal;"></span>
                        </label>
                        <div class="col-md-7">
                            <div onmouseout="CreateSelected()">
                                <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                <span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                <span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                <span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                <span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12" style="margin-top: 25px;">
                        <textarea asp-for="Comment" required rows="5" style="width:%100;" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="@Model.Product.ProductId">
                        <input type="hidden" asp-for="@Model.Product.Url">
                        <input type="hidden" asp-for="@Model.UserName">
                        <input type="hidden" name="Rating" id="Rating" value="0">
                        <input type="submit" id="btnRegister" name="btnRegister" value="Değerlendir" class="btn btn-warning">
                    </div>
                </div>
            }
        </div>
    </dd>
    }
    
</dl>
<script>
    function SubmitComment(){
        if($("#Rating").val() == "0")
        {
            alert("Please rate this service provider");
        }
        else{
            return true;
        }
    }
    function CRate(r) {
        $("#Rating").val(r);
        for (var i= 1; i<= r; i++)
        {
            $("#Rate" + i).attr('class','starGlow');
        }
        // unselect remaining
        for (var i = r+1; i<=5; i++){
            $("#Rate" +i).attr('class','starFade');
        }
    }
    function CRateOver(r){
        for(var i = i; i<=r;i++){
            $("#Rate"+i).attr('class','starGlow');
        }
    }
    function CRateOut(r){
        for(var i = i; i<=r;i++){
            $("#Rate"+i).attr('class','starFade');
        }
    }
    function CreateSelected(){
        var setRating = $("Rating").val();

        for(var i = i; i<=setRating;i++){
            $("#Rate"+i).attr('class','starGlow');
        }
    }
</script>