@model ProductListViewModel
@{
	var products = Model.Products;
}

<!DOCTYPE html>
<html>
<head>
<title>Ecommerce</title>
<link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="~/css/styles.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="~/js/jquery.min.js"></script>


<!--script-->
</head>
<body> 
	@await Html.PartialAsync("_header") 
	<!-- start content -->
<div class="container">		
	<div class="women-product">
		<!-- grids_of_4 -->
		<div class="grid-product">
			@if (products.Count == 0)
			{
				@await Html.PartialAsync("_noproduct")
			}
			else
			{
				@foreach (var product in products)
				{	
					@await Html.PartialAsync("_product",product)
				}
			}
		</div>
	</div>
	<div class="sub-cate">
		<div class=" top-nav rsidebar span_1_of_left">
			<h3 class="cate">KATEGORİLER</h3>
			<ul class="menu">
				<li>
					<ul class="kid-menu">
						@await Component.InvokeAsync("Categories")
					</ul>
				</li>
			</ul>
		</div>
		<!--initiate accordion-->
		<script type="text/javascript">
			$(function() {
			    var menu_ul = $('.menu > li > ul'),
			           menu_a  = $('.menu > li > a');
			    menu_ul.hide();
			    menu_a.click(function(e) {
			        e.preventDefault();
			        if(!$(this).hasClass('active')) {
			            menu_a.removeClass('active');
			            menu_ul.filter(':visible').slideUp('normal');
			            $(this).addClass('active').next().stop(true,true).slideDown('normal');
			        } else {
			            $(this).removeClass('active');
			            $(this).next().stop(true,true).slideUp('normal');
			        }
			    });
			
			});
		</script>
		<div class=" chain-grid menu-chain">
			<a class="view-all all-product" href="product.html">Bütün Ürünleri Gör<span> </span></a> 	
		</div>
		<div class="clearfix"> </div>
	</div>
	<!---->
</div>	
</body>
</html>